.tehnology{
  width: 192rem;

  &__inner{
    display: block;
    width: 145rem;
    margin: 0 auto;

    @include respond(phone){
      width: 60rem;
    }

    @include respond(port){
      width: 90rem;
    }

    @include respond(land){
      width: 120rem;
    }
  }

  &__box{
    display: block;
    width: 90rem;
    margin-bottom: 18rem;
    padding-top: 4.3rem;
    padding-bottom: 4.4rem;
    padding-left: 19.8rem;
    background: #000000;
    text-align: left;
    position: relative;

    &::before{
      content: "";
      display: block;
      width: 93px;
      height: 56px;
      background: rgba(1, 123, 101, 0.31);
      position: absolute;
      top: 4.3rem;
      left: 7.5rem;
    }
  }

  &__group{
    width: 120rem;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-bottom: 18rem;
    position: relative;

    @include respond(phone){
      width: 60rem;
      display: block;
      margin: 0 auto;
      text-align: center;
    }

    @include respond(port){
      width: 90rem;
      display: block;
      margin: 0 auto;
      text-align: center;
    }

    @include respond(land){
      width: 120rem;
      display: block;
      margin: 0 auto;
      text-align: center;
    }

    &::before{
      content: "";
      width: 146px;
      height: 1px;
      border: 1px solid #017B65;
      transform: rotate(90deg);
      position: absolute;
      top: 7rem;
      left: 48rem;
    }
  }

  &__container{
    display: block;
    width: 50rem;
  }

  &__subtitle{
    display: block;
    margin-bottom: 2rem;

    font-family: Open "Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 66px;
    line-height: 90px;
    letter-spacing: 0.045em;
    color: #000000;
  }

  &__subtext{
    display: block;
    text-align: left;
    font-family: Open "Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.01em;
    color: #000000;
  }

  &__prehistory{
    display: block;
    width: 128rem;
    margin-bottom: 18rem;
    padding-top: 4.3rem;
    padding-bottom: 4.4rem;
    padding-left: 19.8rem;
    float: right;
    text-align: left;
    background: #000;
    position: relative;

    &::before{
      content: "";
      display: block;
      width: 93px;
      height: 56px;
      background: rgba(1, 123, 101, 0.31);
      position: absolute;
      top: 4.3rem;
      left: 7.5rem;
    }
  }

  &__title{
    display: block;
    margin-bottom: 2rem;

    font-family: Open "Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 49px;
    letter-spacing: 0.045em;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  &__text{
    display: block;

    font-family: Open "Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
  }
}
